body {
  padding-top: 50px;
}
form {
	margin-bottom: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.templates img {
	width: 100%;
}
.templates {
	text-align: center;
}
.templates a {
	width: 50%;
	text-align: center;
	margin: auto;
}
.templates .col-xs-4 {
	margin-bottom: 20px;
}
.goback {
	margin: 20px 0;
}
.full {
	width: 100%;
}

.stbody
{
min-height:70px;
 
}
.stbody
{
min-height:70px;
margin-bottom:10px;
border-bottom:dashed 1px #cc0000;
}
.stimg
{
float:left;
height:50px;
width:50px;
border:solid 1px #dedede;
padding:5px;
}
.sttext
{
margin-left:70px;
 
min-height:50px;
word-wrap:break-word;
overflow:hidden;
padding:5px;
display:block;
font-family:'Georgia', Times New Roman, Times, serif
}
.sttime
{
font-size:11px;
color:#999;
font-family:Arial, Helvetica, sans-serif;
margin-top:5px;
}