<div class="row templates">
	<div class="col-xs-4" ng-repeat="template in templates">
		<h3>{{template.name}}</h3>
		<img ng-src="img/{{template.images[0].name}}" alt="image template">
		<h4>{{template.price | currency}}</h4>
		<a class="btn btn-primary btn-block" href="#!/templates/{{template.id}}">Details</a>
	</div>
</div>