<div>
	<div class="col-xs-12 goback"><a href="#!/templates">Go back to the templates</a></div>
	
	<div class="col-xs-4">
		<img ng-src="img/{{mainImage}}" class="full" />
		<div class="row">
			<div ng-repeat="image in template.images | limitTo:4">
				<div class="col-xs-3">
					<img class="full" ng-src="img/{{image.name}}" ng-click="setImage(image)" />
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-8">
		<h3>{{template.name}}</h3>
		<p>{{template.description}}</p>
		<p>Type : {{template.type}}</p>
		<h4>{{template.price | currency}}</h4>
		
		<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
			<input type="hidden" name="cmd" value="_xclick">
			<input type="hidden" name="business" value="techguyseller@sandbox.com">
			<input type="hidden" name="item_name" value="{{template.name}}">
			<input type="hidden" name="item_number" value="{{template.id}}">
			<input type="hidden" name="currency_code" value="USD">
			<input type="hidden" name="amount" value="{{template.price}}">
			<input type='hidden' name='no_shipping' value='1'>
			<input type='hidden' name='rm' value='2'>
			<input type="hidden" name="return" value="http://localhost:8000">
			<input type="hidden" name="cancel_return" value="http://localhost:8000">
			<input type="image" src="https://www.paypalobjects.com/webstatic/en_US/btn/btn_buynow_107x26.png" name="submit" alt="Buy Now">
		</form> 


	</div>
</div>
