body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.templates img {
	width: 100%;
}
.templates {
	text-align: center;
}
.templates a {
	width: 50%;
	text-align: center;
	margin: auto;
}
.templates .col-xs-4 {
	margin-bottom: 20px;
}
.goback {
	margin: 20px 0;
}
.full {
	width: 100%;
}