<div class="row" ng-controller="FacebookCtrl">
  <div class="col-xs-4">
	<h4>{{ welcomeMes }}</h4>
	<div ng-if="isLoggedIn == false">
		<button type="button" class="btn-default btn" ng-click="login()">Login</button>
	</div>
	<div ng-if="isLoggedIn == true">
		<a href="{{userInfos.link}}" target="_blank" ><img ng-src="{{picture}}" /></a>
		<button type="button" class="btn-default btn" ng-click="logout()">Logout</button>
	</div>
	<br /><br />
	<div class="well" ng-if="isLoggedIn == true">
		<h5>User infos</h5>
		<ul>
			<li>ID: {{userInfos.id}}</li>
			<li>Name: {{userInfos.name}}</li>
			<li>Email: {{userInfos.email}}</li>
			<li>Gender: {{userInfos.gender}}</li>
			<li>Locale: {{userInfos.locale}}</li>
		</ul>
	</div>
	<div class="well" ng-if="isLoggedIn == true">
		<h5>User permissions</h5>
		<ul>
			<li ng-repeat="perm in permissions">{{perm.permission}} : {{perm.status}}</li>
		</ul>
	</div>
  </div>
  <div class="col-xs-8" ng-if="isLoggedIn == true">
	<h3>Welcome to Facebook</h3>
	<form ng-submit="postStatus()">
		<div class="form-group">
			<label>Status update</label>
			<textarea class="form-control" ng-model="postMessage"></textarea>
		</div>
		<button class="btn btn-default" type="submit">Submit</button>
	</form>
	<div ng-repeat="post in posts" ng-if="post.message != ''" class="stbody">
		<div class="row">
			<div class="col-xs-4">
				<div ng-repeat="attachment in post.attachments.data">
					<img ng-src="{{attachment.media.image.src}}" class="full" />
				</div>
			</div>
			<div class="col-xs-8">
				{{post.message}}
			</div>
		</div>
		<div class="sttime">
			{{post.created_time}}
		</div>
		
	</div>
  </div>
</div>